<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The layout with display</title>
    <link rel="stylesheet" href="style_using_display.css">
</head>
<body>
<h1>Bố cục trang web với display</h1>
<nav class="menu">
    <a href="#">New? Start here!</a>
    <a href="#">Articles</a>
    <a href="#">Books</a>
    <a href="#">Podcast</a>
</nav>
<section>
    <div class="col">Cột 1</div>
    <div class="col">Cột 2</div>
    <div class="col">Cột 3</div>
</section>
<footer>
    <p>&copy; 2025. All rights reserved.</p>
</footer>
</body>
</html>