*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}

#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#header{
    height: 100px;
    background-color: #F5F5F5;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
}

#navigation_bar{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CDCDCD;
    background-color: #F5F5F5;
    margin-bottom:5px;
    clear: both;
}

#menu a{
    margin: 10px;
    text-decoration: none;
    color: white;
    display: inline;
}

#section{
    width: 800px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:left;
    background-color: #004C00;
    margin-bottom: 5px;
}

#article{
    width: 800px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    margin-bottom: 5px;
    float: left;
    background-color: red;
}

#aside{
    width: 192px;
    min-height: 806px;
    border: 1px solid #CDCDCD;
    float:right;
    margin-bottom: 5px;
    background-color: yellow;
}

#footer{
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: pink;
}