<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a layout</title>
  <link rel="stylesheet" href="basic_layout_style.css">
</head>
<body>
<div id="main">
    <div id="header">
        <h1>Monday Times</h1>
    </div>
    <div id="navigation_bar">
        <nav class="menu">
            <a href="#">News</a>
            <a href="#">Sports</a>
            <a href="#">Weather</a>
        </nav>
    </div>
    <div id="section">
        <h2>News Section</h2>
        <h3>News Article</h3>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta distinctio dolorem dolores ducimus et id incidunt ipsa, iure libero minus mollitia non officiis quaerat quia quisquam repellendus saepe unde.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam consequuntur culpa doloremque error expedita facilis fugit ipsum modi, nemo odit qui quis reiciendis, suscipit temporibus tenetur velit vero voluptates?</p>
        </article>
        <h3>News Article</h3>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta distinctio dolorem dolores ducimus et id incidunt ipsa, iure libero minus mollitia non officiis quaerat quia quisquam repellendus saepe unde.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam consequuntur culpa doloremque error expedita facilis fugit ipsum modi, nemo odit qui quis reiciendis, suscipit temporibus tenetur velit vero voluptates?</p>
        </article>
    </div>
    <div id="aside">
    </div>
    <div id="article">
    </div>
    <div id="footer">
        <p>&copy; 2025 Monday Times. All rights reserved.</p>
    </div>
</div>
</body>
</html>