.box0 {
    width: 256px;
    height: 153.6px;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: green;

}
.box1{
    width: 280px;
    height: 98px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    width: 80%;
    height: 80%
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    width: 400px;
    height: 300px;
    background-color: white;
    border-width: 50px;
    border-color: forestgreen;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}